$font: 'Jura', sans-serif;
$tablet-width: (min-width: 768px);
$laptop-width: (min-width: 1280px);

$colors: (
    header-bg: #242E2F,
    header-font: #fff,
    main-bg: #e6e5e4,
    secondary-bg: #6e7170,
    main-font: #fff,
);